<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.CompWaterAchievementDAO">

    <insert id="save" parameterType="compWaterAchievementDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_comp_water_achievement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="compId != null">
				comp_id,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="contractAmount != null">
				contract_amount,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="startDate != null">
				start_date,
			</if>
			<if test="endDate != null">
				end_date,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			<if test="inwardHtmlUrl != null">
				inward_html_url,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="compId != null">
				#{compId},
			</if>
			<if test="projectName != null">
				#{projectName},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="contractAmount != null">
				#{contractAmount},
			</if>
			<if test="money != null">
				#{money},
			</if>
			<if test="startDate != null">
				#{startDate},
			</if>
			<if test="endDate != null">
				#{endDate},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			<if test="inwardHtmlUrl != null">
				#{inwardHtmlUrl},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_comp_water_achievement
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.compId != null">
				comp_id,
			</if>
			<if test="item.projectName != null">
				project_name,
			</if>
			<if test="item.name != null">
				name,
			</if>
			<if test="item.contractAmount != null">
				contract_amount,
			</if>
				<if test="item.money != null">
					money,
				</if>
			<if test="item.startDate != null">
				start_date,
			</if>
			<if test="item.endDate != null">
				end_date,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
				<if test="item.inwardHtmlUrl != null">
					inward_html_url,
				</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.compId != null">
				#{item.compId},
			</if>
			<if test="item.projectName != null">
				#{item.projectName},
			</if>
			<if test="item.name != null">
				#{item.name},
			</if>
			<if test="item.contractAmount != null">
				#{item.contractAmount},
			</if>
				<if test="item.money != null">
					#{item.money},
				</if>
			<if test="item.startDate != null">
				#{item.startDate},
			</if>
			<if test="item.endDate != null">
				#{item.endDate},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
				<if test="item.inwardHtmlUrl != null">
					#{item.inwardHtmlUrl},
				</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_comp_water_achievement where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_comp_water_achievement where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="compWaterAchievementDO">
        update t_comp_water_achievement
        <set>
            <if test="compId != null">
				comp_id = #{compId},
			</if>
			<if test="projectName != null">
				project_name = #{projectName},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="contractAmount != null">
				contract_amount = #{contractAmount},
			</if>
			<if test="money != null">
				money = #{money},
			</if>
			<if test="startDate != null">
				start_date = #{startDate},
			</if>
			<if test="endDate != null">
				end_date = #{endDate},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			<if test="inwardHtmlUrl != null">
				inward_html_url = #{inwardHtmlUrl},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_comp_water_achievement
            <set>
                <if test="item.compId != null">
				comp_id = #{item.compId},
			</if>
			<if test="item.projectName != null">
				project_name = #{item.projectName},
			</if>
			<if test="item.name != null">
				name = #{item.name},
			</if>
			<if test="item.contractAmount != null">
				contract_amount = #{item.contractAmount},
			</if>
				<if test="item.money != null">
					money = #{item.money},
				</if>
			<if test="item.startDate != null">
				start_date = #{item.startDate},
			</if>
			<if test="item.endDate != null">
				end_date = #{item.endDate},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
				<if test="inwardHtmlUrl != null">
					inward_html_url = #{item.inwardHtmlUrl},
				</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        inward_html_url as inwardHtmlUrl, money as money, id as id, comp_id as compId, project_name as projectName, name as name, contract_amount as contractAmount, start_date as startDate, end_date as endDate, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
		<if test="query != null and query.money != null">
			and money = #{query.money}
		</if>
		<if test="query != null and query.moneyMin != null">
			and money <![CDATA[ >= ]]> #{query.moneyMin}
		</if>
		<if test="query != null and query.moneyMax != null">
			and money <![CDATA[ <= ]]> #{query.moneyMax}
		</if>
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.compId != null">
			and comp_id = #{query.compId}
		</if>
		<if test="query != null and query.compIdMin != null and query.compIdMax == null">
			and comp_id <![CDATA[ >= ]]> #{query.compIdMin}
		</if>
		<if test="query != null and query.compIdMin == null and query.compIdMax != null">
			and comp_id <![CDATA[ <= ]]> #{query.compIdMax}
		</if>
		<if test="query != null and query.compIdMin != null and query.compIdMax != null">
			and comp_id <![CDATA[ >= ]]> #{query.compIdMin} and comp_id <![CDATA[ <= ]]> #{query.compIdMax}
		</if>
		<if test="query != null and query.projectName != null and query.projectName != ''">
			and project_name like concat('%', #{query.projectName}, '%')
		</if>
		<if test="query != null and query.name != null and query.name != ''">
			and name like concat('%', #{query.name}, '%')
		</if>
		<if test="query != null and query.contractAmount != null and query.contractAmount != ''">
			and contract_amount like concat('%', #{query.contractAmount}, '%')
		</if>
		<if test="query != null and query.startDate != null">
			and start_date = #{query.startDate}
		</if>
		<if test="query != null and query.startDateMin != null and query.startDateMax == null">
			and start_date <![CDATA[ >= ]]> #{query.startDateMin}
		</if>
		<if test="query != null and query.startDateMin == null and query.startDateMax != null">
			and start_date <![CDATA[ <= ]]> #{query.startDateMax}
		</if>
		<if test="query != null and query.startDateMin != null and query.startDateMax != null">
			and start_date <![CDATA[ >= ]]> #{query.startDateMin} and start_date <![CDATA[ <= ]]> #{query.startDateMax}
		</if>
		<if test="query != null and query.endDate != null">
			and end_date = #{query.endDate}
		</if>
		<if test="query != null and query.endDateMin != null and query.endDateMax == null">
			and end_date <![CDATA[ >= ]]> #{query.endDateMin}
		</if>
		<if test="query != null and query.endDateMin == null and query.endDateMax != null">
			and end_date <![CDATA[ <= ]]> #{query.endDateMax}
		</if>
		<if test="query != null and query.endDateMin != null and query.endDateMax != null">
			and end_date <![CDATA[ >= ]]> #{query.endDateMin} and end_date <![CDATA[ <= ]]> #{query.endDateMax}
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.inwardHtmlUrl != null and query.inwardHtmlUrl != null">
			and inward_html_url like concat('%', #{query.inwardHtmlUrl}, '%')
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="compWaterAchievementDO">
        select
        <include refid="select_columns"/>
        from t_comp_water_achievement where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_comp_water_achievement where id = #{id}
    </select>

    <select id="listAll" resultType="compWaterAchievementDO">
        select
        <include refid="select_columns"/>
        from t_comp_water_achievement
        order by update_time desc, create_time desc
    </select>

    <select id="listAllByCondition" resultType="compWaterAchievementDO">
        select
        <include refid="select_columns"/>
        from t_comp_water_achievement
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
             ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
    </select>

    <select id="listPageByCondition" resultType="compWaterAchievementDO">
        select
        <include refid="select_columns"/>
        from t_comp_water_achievement
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_comp_water_achievement
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
