<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.CompAptitudeCompanyDAO">

    <sql id="select_columns">
        t_comp_aptitude.id as compAptitudeId, t_comp_aptitude.comp_id as compAptitudeCompId, t_comp_aptitude.certificate_num as compAptitudeCertificateNum, t_comp_aptitude.certificate_detail as compAptitudeCertificateDetail, t_comp_aptitude.version as compAptitudeVersion, t_comp_aptitude.create_time as compAptitudeCreateTime, t_comp_aptitude.update_time as compAptitudeUpdateTime, t_comp_aptitude.is_active as compAptitudeIsActive, t_company.comp_type as companyCompType, t_company.industry_type as companyIndustryType, t_company.comp_name as companyCompName
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.compAptitudeId != null">
			and t_comp_aptitude.id = #{query.compAptitudeId}
		</if>
		<if test="query != null and query.compAptitudeIdMin != null and query.compAptitudeIdMax == null">
			and t_comp_aptitude.id <![CDATA[ >= ]]> #{query.compAptitudeIdMin}
		</if>
		<if test="query != null and query.compAptitudeIdMin == null and query.compAptitudeIdMax != null">
			and t_comp_aptitude.id <![CDATA[ <= ]]> #{query.compAptitudeIdMax}
		</if>
		<if test="query != null and query.compAptitudeIdMin != null and query.compAptitudeIdMax != null">
			and t_comp_aptitude.id <![CDATA[ >= ]]> #{query.compAptitudeIdMin} and t_comp_aptitude.id <![CDATA[ <= ]]> #{query.compAptitudeIdMax}
		</if>
		<if test="query != null and query.compAptitudeCompId != null">
			and t_comp_aptitude.comp_id = #{query.compAptitudeCompId}
		</if>
		<if test="query != null and query.compAptitudeCompIdMin != null and query.compAptitudeCompIdMax == null">
			and t_comp_aptitude.comp_id <![CDATA[ >= ]]> #{query.compAptitudeCompIdMin}
		</if>
		<if test="query != null and query.compAptitudeCompIdMin == null and query.compAptitudeCompIdMax != null">
			and t_comp_aptitude.comp_id <![CDATA[ <= ]]> #{query.compAptitudeCompIdMax}
		</if>
		<if test="query != null and query.compAptitudeCompIdMin != null and query.compAptitudeCompIdMax != null">
			and t_comp_aptitude.comp_id <![CDATA[ >= ]]> #{query.compAptitudeCompIdMin} and t_comp_aptitude.comp_id <![CDATA[ <= ]]> #{query.compAptitudeCompIdMax}
		</if>
		<if test="query != null and query.compAptitudeCertificateNum != null and query.compAptitudeCertificateNum != ''">
			and t_comp_aptitude.certificate_num like concat('%', #{query.compAptitudeCertificateNum}, '%')
		</if>
		<if test="query != null and query.compAptitudeCertificateDetail != null and query.compAptitudeCertificateDetail != ''">
			and t_comp_aptitude.certificate_detail like concat('%', #{query.compAptitudeCertificateDetail}, '%')
		</if>
		<if test="query != null and query.compAptitudeVersion != null">
			and t_comp_aptitude.version = #{query.compAptitudeVersion}
		</if>
		<if test="query != null and query.compAptitudeVersionMin != null and query.compAptitudeVersionMax == null">
			and t_comp_aptitude.version <![CDATA[ >= ]]> #{query.compAptitudeVersionMin}
		</if>
		<if test="query != null and query.compAptitudeVersionMin == null and query.compAptitudeVersionMax != null">
			and t_comp_aptitude.version <![CDATA[ <= ]]> #{query.compAptitudeVersionMax}
		</if>
		<if test="query != null and query.compAptitudeVersionMin != null and query.compAptitudeVersionMax != null">
			and t_comp_aptitude.version <![CDATA[ >= ]]> #{query.compAptitudeVersionMin} and t_comp_aptitude.version <![CDATA[ <= ]]> #{query.compAptitudeVersionMax}
		</if>
		<if test="query != null and query.compAptitudeCreateTime != null">
			and t_comp_aptitude.create_time = #{query.compAptitudeCreateTime}
		</if>
		<if test="query != null and query.compAptitudeCreateTimeMin != null and query.compAptitudeCreateTimeMax == null">
			and t_comp_aptitude.create_time <![CDATA[ >= ]]> #{query.compAptitudeCreateTimeMin}
		</if>
		<if test="query != null and query.compAptitudeCreateTimeMin == null and query.compAptitudeCreateTimeMax != null">
			and t_comp_aptitude.create_time <![CDATA[ <= ]]> #{query.compAptitudeCreateTimeMax}
		</if>
		<if test="query != null and query.compAptitudeCreateTimeMin != null and query.compAptitudeCreateTimeMax != null">
			and t_comp_aptitude.create_time <![CDATA[ >= ]]> #{query.compAptitudeCreateTimeMin} and t_comp_aptitude.create_time <![CDATA[ <= ]]> #{query.compAptitudeCreateTimeMax}
		</if>
		<if test="query != null and query.compAptitudeUpdateTime != null">
			and t_comp_aptitude.update_time = #{query.compAptitudeUpdateTime}
		</if>
		<if test="query != null and query.compAptitudeUpdateTimeMin != null and query.compAptitudeUpdateTimeMax == null">
			and t_comp_aptitude.update_time <![CDATA[ >= ]]> #{query.compAptitudeUpdateTimeMin}
		</if>
		<if test="query != null and query.compAptitudeUpdateTimeMin == null and query.compAptitudeUpdateTimeMax != null">
			and t_comp_aptitude.update_time <![CDATA[ <= ]]> #{query.compAptitudeUpdateTimeMax}
		</if>
		<if test="query != null and query.compAptitudeUpdateTimeMin != null and query.compAptitudeUpdateTimeMax != null">
			and t_comp_aptitude.update_time <![CDATA[ >= ]]> #{query.compAptitudeUpdateTimeMin} and t_comp_aptitude.update_time <![CDATA[ <= ]]> #{query.compAptitudeUpdateTimeMax}
		</if>
		<if test="query != null and query.compAptitudeIsActive != null">
			and t_comp_aptitude.is_active = #{query.compAptitudeIsActive}
		</if>
		<if test="query != null and query.compAptitudeIsActiveMin != null and query.compAptitudeIsActiveMax == null">
			and t_comp_aptitude.is_active <![CDATA[ >= ]]> #{query.compAptitudeIsActiveMin}
		</if>
		<if test="query != null and query.compAptitudeIsActiveMin == null and query.compAptitudeIsActiveMax != null">
			and t_comp_aptitude.is_active <![CDATA[ <= ]]> #{query.compAptitudeIsActiveMax}
		</if>
		<if test="query != null and query.compAptitudeIsActiveMin != null and query.compAptitudeIsActiveMax != null">
			and t_comp_aptitude.is_active <![CDATA[ >= ]]> #{query.compAptitudeIsActiveMin} and t_comp_aptitude.is_active <![CDATA[ <= ]]> #{query.compAptitudeIsActiveMax}
		</if>
		<if test="query != null and query.companyCompType != null and query.companyCompType != ''">
			and t_company.comp_type like concat('%', #{query.companyCompType}, '%')
		</if>
		<if test="query != null and query.companyIndustryType != null and query.companyIndustryType != ''">
			and t_company.industry_type like concat('%', #{query.companyIndustryType}, '%')
		</if>
		<if test="query != null and query.companyCompName != null and query.companyCompName != ''">
			and t_company.comp_name like concat('%', #{query.companyCompName}, '%')
		</if>
		
        and
        t_comp_aptitude.comp_id = t_company.id
    </sql>

    <select id="listById" parameterType="long" resultType="compAptitudeCompanyDO">
        select
        <include refid="select_columns"/>
        from t_comp_aptitude, t_company where t_comp_aptitude.id = #{id} and
        t_comp_aptitude.comp_id = t_company.id
    </select>

    <select id="listAll" resultType="compAptitudeCompanyDO">
        select
        <include refid="select_columns"/>
        from t_comp_aptitude, t_company
        where
        t_comp_aptitude.comp_id = t_company.id
        order by t_comp_aptitude.update_time desc, t_comp_aptitude.create_time desc
    </select>

    <select id="listAllByCondition" resultType="compAptitudeCompanyDO">
        select
        <include refid="select_columns"/>
        from t_comp_aptitude, t_company
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            t_comp_aptitude.update_time desc, t_comp_aptitude.create_time desc
        </if>
    </select>

    <select id="listPageByCondition" resultType="compAptitudeCompanyDO">
        select
        <include refid="select_columns"/>
        from t_comp_aptitude, t_company
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            t_comp_aptitude.update_time desc, t_comp_aptitude.create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_comp_aptitude, t_company
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
