<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.CompWaterAchievementDAO">

    <select id="getByCompIdAndProjectName" resultType="compWaterAchievementDO">
        select
        <include refid="select_columns"/>
        from t_comp_water_achievement
		where comp_id = #{compId} and project_name = #{projectName}
    </select>

</mapper>
