<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.SubscribeDAO">

    <insert id="save" parameterType="subscribeDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_subscribe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
				user_id,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="projectType != null">
				project_type,
			</if>
			<if test="minMoney != null">
				min_money,
			</if>
			<if test="maxMoney != null">
				max_money,
			</if>
			<if test="tenderee != null">
				tenderee,
			</if>
			<if test="aptitudeType != null">
				aptitude_type,
			</if>
			<if test="keyword != null">
				keyword,
			</if>
			<if test="isSubscribe != null">
				is_subscribe,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
				#{userId},
			</if>
			<if test="city != null">
				#{city},
			</if>
			<if test="projectType != null">
				#{projectType},
			</if>
			<if test="minMoney != null">
				#{minMoney},
			</if>
			<if test="maxMoney != null">
				#{maxMoney},
			</if>
			<if test="tenderee != null">
				#{tenderee},
			</if>
			<if test="aptitudeType != null">
				#{aptitudeType},
			</if>
			<if test="keyword != null">
				#{keyword},
			</if>
			<if test="isSubscribe != null">
				#{isSubscribe},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_subscribe
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.userId != null">
				user_id,
			</if>
			<if test="item.city != null">
				city,
			</if>
			<if test="item.projectType != null">
				project_type,
			</if>
			<if test="item.minMoney != null">
				min_money,
			</if>
			<if test="item.maxMoney != null">
				max_money,
			</if>
			<if test="item.tenderee != null">
				tenderee,
			</if>
			<if test="item.aptitudeType != null">
				aptitude_type,
			</if>
			<if test="item.keyword != null">
				keyword,
			</if>
			<if test="item.isSubscribe != null">
				is_subscribe,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.userId != null">
				#{item.userId},
			</if>
			<if test="item.city != null">
				#{item.city},
			</if>
			<if test="item.projectType != null">
				#{item.projectType},
			</if>
			<if test="item.minMoney != null">
				#{item.minMoney},
			</if>
			<if test="item.maxMoney != null">
				#{item.maxMoney},
			</if>
			<if test="item.tenderee != null">
				#{item.tenderee},
			</if>
			<if test="item.aptitudeType != null">
				#{item.aptitudeType},
			</if>
			<if test="item.keyword != null">
				#{item.keyword},
			</if>
			<if test="item.isSubscribe != null">
				#{item.isSubscribe},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_subscribe where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_subscribe where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="subscribeDO">
        update t_subscribe
        <set>
            <if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="projectType != null">
				project_type = #{projectType},
			</if>
			<if test="minMoney != null">
				min_money = #{minMoney},
			</if>
			<if test="maxMoney != null">
				max_money = #{maxMoney},
			</if>
			<if test="tenderee != null">
				tenderee = #{tenderee},
			</if>
			<if test="aptitudeType != null">
				aptitude_type = #{aptitudeType},
			</if>
			<if test="keyword != null">
				keyword = #{keyword},
			</if>
			<if test="isSubscribe != null">
				is_subscribe = #{isSubscribe},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_subscribe
            <set>
                <if test="item.userId != null">
				user_id = #{item.userId},
			</if>
			<if test="item.city != null">
				city = #{item.city},
			</if>
			<if test="item.projectType != null">
				project_type = #{item.projectType},
			</if>
			<if test="item.minMoney != null">
				min_money = #{item.minMoney},
			</if>
			<if test="item.maxMoney != null">
				max_money = #{item.maxMoney},
			</if>
			<if test="item.tenderee != null">
				tenderee = #{item.tenderee},
			</if>
			<if test="item.aptitudeType != null">
				aptitude_type = #{item.aptitudeType},
			</if>
			<if test="item.keyword != null">
				keyword = #{item.keyword},
			</if>
			<if test="item.isSubscribe != null">
				is_subscribe = #{item.isSubscribe},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, user_id as userId, city as city, project_type as projectType, min_money as minMoney, max_money as maxMoney, tenderee as tenderee, aptitude_type as aptitudeType, keyword as keyword, is_subscribe as isSubscribe, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.userId != null">
			and user_id = #{query.userId}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax == null">
			and user_id <![CDATA[ >= ]]> #{query.userIdMin}
		</if>
		<if test="query != null and query.userIdMin == null and query.userIdMax != null">
			and user_id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax != null">
			and user_id <![CDATA[ >= ]]> #{query.userIdMin} and user_id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.city != null and query.city != ''">
			and city like concat('%', #{query.city}, '%')
		</if>
		<if test="query != null and query.projectType != null and query.projectType != ''">
			and project_type like concat('%', #{query.projectType}, '%')
		</if>
		<if test="query != null and query.minMoney != null">
			and min_money = #{query.minMoney}
		</if>
		<if test="query != null and query.minMoneyMin != null and query.minMoneyMax == null">
			and min_money <![CDATA[ >= ]]> #{query.minMoneyMin}
		</if>
		<if test="query != null and query.minMoneyMin == null and query.minMoneyMax != null">
			and min_money <![CDATA[ <= ]]> #{query.minMoneyMax}
		</if>
		<if test="query != null and query.minMoneyMin != null and query.minMoneyMax != null">
			and min_money <![CDATA[ >= ]]> #{query.minMoneyMin} and min_money <![CDATA[ <= ]]> #{query.minMoneyMax}
		</if>
		<if test="query != null and query.maxMoney != null">
			and max_money = #{query.maxMoney}
		</if>
		<if test="query != null and query.maxMoneyMin != null and query.maxMoneyMax == null">
			and max_money <![CDATA[ >= ]]> #{query.maxMoneyMin}
		</if>
		<if test="query != null and query.maxMoneyMin == null and query.maxMoneyMax != null">
			and max_money <![CDATA[ <= ]]> #{query.maxMoneyMax}
		</if>
		<if test="query != null and query.maxMoneyMin != null and query.maxMoneyMax != null">
			and max_money <![CDATA[ >= ]]> #{query.maxMoneyMin} and max_money <![CDATA[ <= ]]> #{query.maxMoneyMax}
		</if>
		<if test="query != null and query.tenderee != null and query.tenderee != ''">
			and tenderee like concat('%', #{query.tenderee}, '%')
		</if>
		<if test="query != null and query.aptitudeType != null and query.aptitudeType != ''">
			and aptitude_type like concat('%', #{query.aptitudeType}, '%')
		</if>
		<if test="query != null and query.keyword != null and query.keyword != ''">
			and keyword like concat('%', #{query.keyword}, '%')
		</if>
		<if test="query != null and query.isSubscribe != null">
			and is_subscribe = #{query.isSubscribe}
		</if>
		<if test="query != null and query.isSubscribeMin != null and query.isSubscribeMax == null">
			and is_subscribe <![CDATA[ >= ]]> #{query.isSubscribeMin}
		</if>
		<if test="query != null and query.isSubscribeMin == null and query.isSubscribeMax != null">
			and is_subscribe <![CDATA[ <= ]]> #{query.isSubscribeMax}
		</if>
		<if test="query != null and query.isSubscribeMin != null and query.isSubscribeMax != null">
			and is_subscribe <![CDATA[ >= ]]> #{query.isSubscribeMin} and is_subscribe <![CDATA[ <= ]]> #{query.isSubscribeMax}
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="subscribeDO">
        select
        <include refid="select_columns"/>
        from t_subscribe where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_subscribe where id = #{id}
    </select>

    <select id="listAll" resultType="subscribeDO">
        select
        <include refid="select_columns"/>
        from t_subscribe
        order by update_time desc, create_time desc
    </select>

    <select id="listAllByCondition" resultType="subscribeDO">
        select
        <include refid="select_columns"/>
        from t_subscribe
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
             ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
    </select>

    <select id="listPageByCondition" resultType="subscribeDO">
        select
        <include refid="select_columns"/>
        from t_subscribe
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_subscribe
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
