<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserNoticeDAO">

    <insert id="save" parameterType="userNoticeDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_user_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
				user_id,
			</if>
			<if test="itemId != null">
				item_id,
			</if>
			<if test="pageUrl != null">
				page_url,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="mainContent != null">
				main_content,
			</if>
			<if test="detailContent != null">
				detail_content,
			</if>
			<if test="isRead != null">
				is_read,
			</if>
			<if test="noticeType != null">
				notice_type,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
				#{userId},
			</if>
			<if test="itemId != null">
				#{itemId},
			</if>
			<if test="pageUrl != null">
				#{pageUrl},
			</if>
			<if test="title != null">
				#{title},
			</if>
			<if test="mainContent != null">
				#{mainContent},
			</if>
			<if test="detailContent != null">
				#{detailContent},
			</if>
			<if test="isRead != null">
				#{isRead},
			</if>
			<if test="noticeType != null">
				#{noticeType},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_user_notice
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.userId != null">
				user_id,
			</if>
			<if test="item.itemId != null">
				item_id,
			</if>
			<if test="item.pageUrl != null">
				page_url,
			</if>
			<if test="item.title != null">
				title,
			</if>
			<if test="item.mainContent != null">
				main_content,
			</if>
			<if test="item.detailContent != null">
				detail_content,
			</if>
			<if test="item.isRead != null">
				is_read,
			</if>
			<if test="item.noticeType != null">
				notice_type,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.userId != null">
				#{item.userId},
			</if>
			<if test="item.itemId != null">
				#{item.itemId},
			</if>
			<if test="item.pageUrl != null">
				#{item.pageUrl},
			</if>
			<if test="item.title != null">
				#{item.title},
			</if>
			<if test="item.mainContent != null">
				#{item.mainContent},
			</if>
			<if test="item.detailContent != null">
				#{item.detailContent},
			</if>
			<if test="item.isRead != null">
				#{item.isRead},
			</if>
			<if test="item.noticeType != null">
				#{item.noticeType},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_user_notice where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_user_notice where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="userNoticeDO">
        update t_user_notice
        <set>
            <if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="itemId != null">
				item_id = #{itemId},
			</if>
			<if test="pageUrl != null">
				page_url = #{pageUrl},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="mainContent != null">
				main_content = #{mainContent},
			</if>
			<if test="detailContent != null">
				detail_content = #{detailContent},
			</if>
			<if test="isRead != null">
				is_read = #{isRead},
			</if>
			<if test="noticeType != null">
				notice_type = #{noticeType},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_user_notice
            <set>
                <if test="item.userId != null">
				user_id = #{item.userId},
			</if>
			<if test="item.itemId != null">
				item_id = #{item.itemId},
			</if>
			<if test="item.pageUrl != null">
				page_url = #{item.pageUrl},
			</if>
			<if test="item.title != null">
				title = #{item.title},
			</if>
			<if test="item.mainContent != null">
				main_content = #{item.mainContent},
			</if>
			<if test="item.detailContent != null">
				detail_content = #{item.detailContent},
			</if>
			<if test="item.isRead != null">
				is_read = #{item.isRead},
			</if>
			<if test="item.noticeType != null">
				notice_type = #{item.noticeType},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, user_id as userId, item_id as itemId, page_url as pageUrl, title as title, main_content as mainContent, detail_content as detailContent, is_read as isRead, notice_type as noticeType, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.userId != null">
			and user_id = #{query.userId}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax == null">
			and user_id <![CDATA[ >= ]]> #{query.userIdMin}
		</if>
		<if test="query != null and query.userIdMin == null and query.userIdMax != null">
			and user_id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax != null">
			and user_id <![CDATA[ >= ]]> #{query.userIdMin} and user_id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.itemId != null">
			and item_id = #{query.itemId}
		</if>
		<if test="query != null and query.itemIdMin != null and query.itemIdMax == null">
			and item_id <![CDATA[ >= ]]> #{query.itemIdMin}
		</if>
		<if test="query != null and query.itemIdMin == null and query.itemIdMax != null">
			and item_id <![CDATA[ <= ]]> #{query.itemIdMax}
		</if>
		<if test="query != null and query.itemIdMin != null and query.itemIdMax != null">
			and item_id <![CDATA[ >= ]]> #{query.itemIdMin} and item_id <![CDATA[ <= ]]> #{query.itemIdMax}
		</if>
		<if test="query != null and query.pageUrl != null and query.pageUrl != ''">
			and page_url like concat('%', #{query.pageUrl}, '%')
		</if>
		<if test="query != null and query.title != null and query.title != ''">
			and title like concat('%', #{query.title}, '%')
		</if>
		<if test="query != null and query.mainContent != null and query.mainContent != ''">
			and main_content like concat('%', #{query.mainContent}, '%')
		</if>
		<if test="query != null and query.detailContent != null and query.detailContent != ''">
			and detail_content like concat('%', #{query.detailContent}, '%')
		</if>
		<if test="query != null and query.isRead != null">
			and is_read = #{query.isRead}
		</if>
		<if test="query != null and query.isReadMin != null and query.isReadMax == null">
			and is_read <![CDATA[ >= ]]> #{query.isReadMin}
		</if>
		<if test="query != null and query.isReadMin == null and query.isReadMax != null">
			and is_read <![CDATA[ <= ]]> #{query.isReadMax}
		</if>
		<if test="query != null and query.isReadMin != null and query.isReadMax != null">
			and is_read <![CDATA[ >= ]]> #{query.isReadMin} and is_read <![CDATA[ <= ]]> #{query.isReadMax}
		</if>
		<if test="query != null and query.noticeType != null">
			and notice_type = #{query.noticeType}
		</if>
		<if test="query != null and query.noticeTypeMin != null and query.noticeTypeMax == null">
			and notice_type <![CDATA[ >= ]]> #{query.noticeTypeMin}
		</if>
		<if test="query != null and query.noticeTypeMin == null and query.noticeTypeMax != null">
			and notice_type <![CDATA[ <= ]]> #{query.noticeTypeMax}
		</if>
		<if test="query != null and query.noticeTypeMin != null and query.noticeTypeMax != null">
			and notice_type <![CDATA[ >= ]]> #{query.noticeTypeMin} and notice_type <![CDATA[ <= ]]> #{query.noticeTypeMax}
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="userNoticeDO">
        select
        <include refid="select_columns"/>
        from t_user_notice where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_user_notice where id = #{id}
    </select>

    <select id="listAll" resultType="userNoticeDO">
        select
        <include refid="select_columns"/>
        from t_user_notice
        order by update_time desc, create_time desc
    </select>

    <select id="listAllByCondition" resultType="userNoticeDO">
        select
        <include refid="select_columns"/>
        from t_user_notice
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
             ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
    </select>

    <select id="listPageByCondition" resultType="userNoticeDO">
        select
        <include refid="select_columns"/>
        from t_user_notice
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_user_notice
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
